.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider-image-wrapper {
    width: 100%;
    height: 400px;
    text-align: center;
  }
  
  .slider-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;

  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;

  }
  
  .slider-button.left {
    left: 2px;
    font-size: 20px;
    background-color: white;
    
    
  }
  
  .slider-button.right {
    right: 2px;
    font-size: 20px;
    background-color: white;
    
  }
  @media only screen and (max-width: 453px){
    .slider-image{
      height: 150px;
      border-radius: 10px;
    }
    .slider-button.left{
      font-size: 10px;
      
    }
    .slider-button.right{
      font-size: 10px;
    }
    .slider-button{
      top: 18%;
      padding: 5px;
    }
  }
  
  