@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.Image {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(2, 2, 2, 0.315);
    border-radius: 10px;
    transition: transform 0.3s;
}
.Image:hover{
    cursor: pointer;
    transform: scale(1.05);
}


.paragraph {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    position: relative;
    bottom: 10px;
    width: 50px;
    left: 23px;
    color: black;
}
@media only screen and (max-width:453px) {
    .Image{
        width: 50px;
        height: 50px;
    }
    .paragraph{
        font-size: 12px;
        left: 2px;
    }
}
